body{
   margin:0;
   padding:0;
   background-color:black;
}

.clock{
   /*position:absolute;
   top:50%;
   left:50%;
   transform:translate(-50%, -50%);*/
   display:flex;
   justify-content:center;
   align-items:center;
   height: 650px;
   color:darkturquoise;
   font-size:250px;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   background-color:black;
}
